START_DAY=2023/3/31
TIMEZONE_OFFSET_HOURS=8
ONE_URL=http://wufazhuce.com/

SMTP_HOST=smtp.qq.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-email@qq.com
SMTP_PASS=your-smtp-auth-code
EMAIL_FROM="昵称 <your-email@qq.com>"
EMAIL_TO=receiver1@qq.com,receiver2@outlook.com
EMAIL_SUBJECT=风也温柔，今日也想你

QWEATHER_CITY_ID=101200105
QWEATHER_LATITUDE=30.37
QWEATHER_LONGITUDE=114.31
QWEATHER_ICON_BASE_URL=https://raw.githubusercontent.com/qwd/Icons/main/icons
QWEATHER_API_HOST=your-api-host.qweatherapi.com
QWEATHER_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
QWEATHER_KEY_ID=your-key-id
QWEATHER_PROJECT_ID=your-project-id
